/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --FloTestColorSemanticColorsForegroundNeutral: #000001;
  --FloTestColorSemanticColorsForegroundNeutralFaded: #66728a;
  --FloTestColorSemanticColorsForegroundPrimary: #1a58d0;
  --FloTestColorSemanticColorsForegroundCritical: #be0021;
  --FloTestColorSemanticColorsForegroundWarning: #ac3500;
  --FloTestColorSemanticColorsForegroundPositive: #00792d;
  --FloTestColorSemanticColorsForegroundUpgrade: #7400ef;
  --FloTestColorSemanticColorsForegroundDisabled: #a2aec8;
  --FloTestColorSemanticColorsForegroundNeutralPlaceholder: #8390a9;
  --FloTestColorSemanticColorsBackgroundElevationBase: #ffffff;
  --FloTestColorSemanticColorsBackgroundElevationRaised: #feffff;
  --FloTestColorSemanticColorsBackgroundElevationOverlay: #feffff;
  --FloTestColorSemanticColorsBackgroundNeutral: #6061620f;
  --FloTestColorSemanticColorsBackgroundNeutralFaded: #60616208;
  --FloTestColorSemanticColorsBackgroundNeutralHighlighted: #60616217;
  --FloTestColorSemanticColorsBackgroundPage: #ffffff;
  --FloTestColorSemanticColorsBackgroundPageFaded: #f8f9fb;
  --FloTestColorSemanticColorsBackgroundPrimary: #104fc6;
  --FloTestColorSemanticColorsBackgroundPrimaryHighlighted: #0038ae;
  --FloTestColorSemanticColorsBackgroundPrimaryFaded: #45adff17;
  --FloTestColorSemanticColorsBackgroundCritical: #c50027;
  --FloTestColorSemanticColorsBackgroundCriticalHighlighted: #ac000f;
  --FloTestColorSemanticColorsBackgroundCriticalFaded: #ff2b5317;
  --FloTestColorSemanticColorsBackgroundWarning: #d0571e;
  --FloTestColorSemanticColorsBackgroundWarningHighlighted: #b84100;
  --FloTestColorSemanticColorsBackgroundWarningFaded: #ff6a0017;
  --FloTestColorSemanticColorsBackgroundPositive: #008236;
  --FloTestColorSemanticColorsBackgroundPositiveHighlighted: #006d21;
  --FloTestColorSemanticColorsBackgroundPositiveFaded: #00e65717;
  --FloTestColorSemanticColorsBackgroundUpgrade: #7f22fe;
  --FloTestColorSemanticColorsBackgroundUpgradeHighlighted: #6d00e5;
  --FloTestColorSemanticColorsBackgroundUpgradeFaded: #d45dff17;
  --FloTestColorSemanticColorsBackgroundBlur: #ffffffeb;
  --FloTestColorSemanticColorsBackgroundBlurNeutral: #f4f5f7f2;
  --FloTestColorSemanticColorsBackgroundBlurNeutralHighlighted: #f1f2f4eb;
  --FloTestColorSemanticColorsBackgroundDisabled: #6061620f;
  --FloTestColorSemanticColorsBackgroundDisabledFaded: #141a2b05;
  --FloTestColorSemanticColorsBackgroundFocusHighlight: #d0e2ff;
  --FloTestColorSemanticColorsBorderNeutral: #00000026;
  --FloTestColorSemanticColorsBorderNeutralFaded: #00000013;
  --FloTestColorSemanticColorsBorderPrimary: #1a58d0;
  --FloTestColorSemanticColorsBorderPrimaryFaded: #5699ff4d;
  --FloTestColorSemanticColorsBorderCritical: #be0021;
  --FloTestColorSemanticColorsBorderCriticalFaded: #ff595d4d;
  --FloTestColorSemanticColorsBorderWarning: #ac3500;
  --FloTestColorSemanticColorsBorderWarningFaded: #f175414d;
  --FloTestColorSemanticColorsBorderPositive: #00792d;
  --FloTestColorSemanticColorsBorderPositiveFaded: #50b7694d;
  --FloTestColorSemanticColorsBorderUpgrade: #7400ef;
  --FloTestColorSemanticColorsBorderUpgradeFaded: #ac67ff4d;
  --FloTestColorSemanticColorsBorderDisabled: #dfe2ea;
  --FloTestColorSemanticColorsBorderFocus: #1a58d0;
  --FloTestColorSemanticColorsBorderFocusFaded: #5699ff4d;
  --FloTestColorSemanticColorsOnBackgroundNeutral: #000000;
  --FloTestColorSemanticColorsPersistentBlack: #000000;
  --FloTestColorSemanticColorsForegroundDecorativeBlue: #0059d6;
  --FloTestColorSemanticColorsBackgroundDecorativeBlueFaded: #15afff17;
  --FloTestColorSemanticColorsBorderDecorativeBlueFaded: #4699ff4d;
  --FloTestColorSemanticColorsForegroundDecorativeCyan: #007592;
  --FloTestColorSemanticColorsBackgroundDecorativeCyanFaded: #00dfff17;
  --FloTestColorSemanticColorsBorderDecorativeCyanFaded: #00b4d24d;
  --FloTestColorSemanticColorsForegroundDecorativeFuchsia: #a800c2;
  --FloTestColorSemanticColorsBackgroundDecorativeFuchsiaFaded: #ff00ff17;
  --FloTestColorSemanticColorsBorderDecorativeFuchsiaFaded: #ed3bff4d;
  --FloTestColorSemanticColorsForegroundDecorativeGreen: #008000;
  --FloTestColorSemanticColorsBackgroundDecorativeGreenFaded: #00ee2017;
  --FloTestColorSemanticColorsBorderDecorativeGreenFaded: #00c04c4d;
  --FloTestColorSemanticColorsForegroundDecorativeGrey: #53647e;
  --FloTestColorSemanticColorsBackgroundDecorativeGreyFaded: #80bfff17;
  --FloTestColorSemanticColorsBorderDecorativeGreyFaded: #8da0bb4d;
  --FloTestColorSemanticColorsForegroundDecorativeLightGrey: #636363;
  --FloTestColorSemanticColorsOnBackgroundPrimary: #ffffff;
  --FloTestColorSemanticColorsBackgroundDecorativeLightGreyFaded: #bebebe17;
  --FloTestColorSemanticColorsOnBackgroundCritical: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundWarning: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundPositive: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundUpgrade: #ffffff;
  --FloTestColorSemanticColorsPersistentWhite: #ffffff;
  --FloTestColorDecorativeLightGreyBorder: #edeff3;
  --FloTestColorSemanticColorsForegroundDecorativeOrange: #aa3a00;
  --FloTestColorSemanticColorsBackgroundDecorativeOrangeFaded: #ff780017;
  --FloTestColorSemanticColorsBorderDecorativeOrangeFaded: #ef7a004d;
  --FloTestColorSemanticColorsForegroundDecorativePink: #bd006c;
  --FloTestColorSemanticColorsBackgroundDecorativePinkFaded: #ff00cb17;
  --FloTestColorSemanticColorsForegroundDecorativePurple: #722adc;
  --FloTestColorSemanticColorsBackgroundDecorativePurpleFaded: #d371ff17;
  --FloTestColorSemanticColorsBorderDecorativePurpleFaded: #ab73ff4d;
  --FloTestColorSemanticColorsBorderDecorativePinkFaded: #ff46a84d;
  --FloTestColorSemanticColorsForegroundDecorativeRed: #c80000;
  --FloTestColorSemanticColorsBackgroundDecorativeRedFaded: #ff000017;
  --FloTestColorSemanticColorsBorderDecorativeRedFaded: #ff4a3d4d;
  --FloTestColorSemanticColorsForegroundDecorativeTeal: #007b68;
  --FloTestColorSemanticColorsBackgroundDecorativeTealFaded: #00ebc817;
  --FloTestColorSemanticColorsBorderDecorativeTealFaded: #00baa44d;
  --FloTestColorSemanticColorsForegroundDecorativeYellow: #8a5900;
  --FloTestColorSemanticColorsBackgroundDecorativeYellowFaded: #fff00017;
  --FloTestColorSemanticColorsBorderDecorativeYellowFaded: #c996004d;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary200: #edf5ff;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary400: #d0e2ff;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary500: #8cb4ff;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary600: #0f62fe;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary700: #004ee1;
  --FloTestColorDeprecatedBaseColorsPrimaryPrimary800: #104fc6;
  --FloTestColorDeprecatedBaseColorsRedRed100: #fef1f2;
  --FloTestColorDeprecatedBaseColorsRedRed600: #cb101d;
  --FloTestColorDeprecatedBaseColorsWhite: #ffffff;
  --FloTestColorDeprecatedBaseColorsNeutralNeutral100Opaque: #141a2b05;
  --FloTestColorDeprecatedBaseColorsNeutralNeutral200Opaque: #182d660a;
  --FloTestColorDeprecatedBaseColorsNeutralNeutral400: #606981;
  --FloTestColorDeprecatedBaseColorsNeutralNeutral500: #c7cddb;
  --FloTestColorDeprecatedBaseColorsNeutralNeutral900: #14171f;
  --FloTestColorDeprecatedBaseColorsGreenGreen100: #ebfef6;
  --FloTestColorDeprecatedBaseColorsGreenGreen600: #05751f;
  --FloTestColorDeprecatedBaseColorsPurplePurple100: #f5f2fd;
  --FloTestColorDeprecatedBaseColorsPurplePurple600: #874ce6;
  --FloTestColorDeprecatedBaseColorsPurplePurple700: #6a2bbf;
  --FloTestColorDeprecatedBaseColorsOrangeOrange100: #fef8eb;
  --FloTestColorDeprecatedBaseColorsOrangeOrange200: #fbe5c5;
  --FloTestColorDeprecatedBaseColorsOrangeOrange500: #cc4d00;
  --FloTestColorDeprecatedBaseColorsOrangeOrange600: #b53c0a;
  --FloTestColorNeutralBlack: #000000;
  --FloTestColorNeutral900: #212529;
  --FloTestColorBlue900: #001733;
  --FloTestColorBlue800: #002f66;
  --FloTestColorBlue700: #004899;
  --FloTestColorBlue600: #0061cc;
  --FloTestColorBlue500: #007aff;
  --FloTestColorBlue400: #3b98ff;
  --FloTestColorBlue300: #75b6ff;
  --FloTestColorBlue200: #b0d5ff;
  --FloTestColorBlue100: #ebf4ff;
  --FloTestColorPurple900: #020a33;
  --FloTestColorPurple800: #0c1a66;
  --FloTestColorPurple700: #1d2f99;
  --FloTestColorPurple600: #354acb;
  --FloTestColorPurple500: #556aeb;
  --FloTestColorPurple400: #6e82fe;
  --FloTestColorPurple300: #8fa0ff;
  --FloTestColorPurple200: #b9c4ff;
  --FloTestColorPurple100: #ebefff;
  --FloTestColorOrange900: #332200;
  --FloTestColorOrange800: #664200;
  --FloTestColorOrange700: #996000;
  --FloTestColorOrange600: #cc7c00;
  --FloTestColorOrange500: #ff9500;
  --FloTestColorOrange400: #ffb23b;
  --FloTestColorOrange300: #ffcc75;
  --FloTestColorOrange200: #ffe3b0;
  --FloTestColorOrange100: #fff8eb;
  --FloTestColorNeutral800: #343a40;
  --FloTestColorNeutral700: #495057;
  --FloTestColorNeutral600: #6c757d;
  --FloTestColorNeutral500: #adb5bd;
  --FloTestColorNeutral400: #ced4da;
  --FloTestColorNeutral300: #dee2e6;
  --FloTestColorNeutral200: #e9ecef;
  --FloTestColorNeutral100: #f8f9fa;
  --FloTestColorBlack: #000000;
  --FloTestColorWhite: #ffffff;
  --FloTestColorSemanticColorsForegroundPrimaryFaded: #406ec5;
  --FloTestColorSemanticColorsForegroundCriticalFaded: #bd4143;
  --FloTestColorSemanticColorsForegroundWarningFaded: #a95836;
  --FloTestColorSemanticColorsForegroundPositiveFaded: #448251;
  --FloTestColorSemanticColorsForegroundUpgradeFaded: #7d44e9;
  --FloTestColorSemanticColorsBackgroundBlurNeutralFaded: #f8f9fbeb;
  --FloTestColorSemanticColorsBackgroundDecorativeBlue: #2b7fff;
  --FloTestColorSemanticColorsBackgroundDecorativeCyan: #00d3f2;
  --FloTestColorSemanticColorsBackgroundDecorativeTeal: #00d5be;
  --FloTestColorSemanticColorsBackgroundDecorativeGreen: #31de69;
  --FloTestColorSemanticColorsBackgroundDecorativeYellow: #fcc801;
  --FloTestColorSemanticColorsBackgroundDecorativeOrange: #ff8904;
  --FloTestColorSemanticColorsBackgroundDecorativeRed: #fb2e27;
  --FloTestColorSemanticColorsBackgroundDecorativePink: #f6339a;
  --FloTestColorSemanticColorsBackgroundDecorativeFuchsia: #e12afb;
  --FloTestColorSemanticColorsBackgroundDecorativePurple: #8e51ff;
  --FloTestColorSemanticColorsBackgroundDecorativeGrey: #62748e;
  --FloTestColorSemanticColorsBackgroundDecorativeLightGrey: #d4d4d4;
  --FloTestColorSemanticColorsOnBackgroundDecorativeBlue: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativeCyan: #001e3a;
  --FloTestColorSemanticColorsOnBackgroundDecorativeTeal: #002116;
  --FloTestColorSemanticColorsOnBackgroundDecorativeGreen: #002500;
  --FloTestColorSemanticColorsOnBackgroundDecorativeYellow: #421100;
  --FloTestColorSemanticColorsOnBackgroundDecorativeOrange: #350000;
  --FloTestColorSemanticColorsOnBackgroundDecorativeRed: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativePink: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativeFuchsia: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativePurple: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativeGrey: #ffffff;
  --FloTestColorSemanticColorsOnBackgroundDecorativeLightGrey: #262626;
  --FloTestColorSemanticColorsBorderDecorativeBlue: #0059d6;
  --FloTestColorSemanticColorsBorderDecorativeCyan: #007592;
  --FloTestColorSemanticColorsBorderDecorativeTeal: #007b68;
  --FloTestColorSemanticColorsBorderDecorativeGreen: #008000;
  --FloTestColorSemanticColorsBorderDecorativeYellow: #8a5900;
  --FloTestColorSemanticColorsBorderDecorativeOrange: #aa3a00;
  --FloTestColorSemanticColorsBorderDecorativeRed: #c80000;
  --FloTestColorSemanticColorsBorderDecorativePink: #bd006c;
  --FloTestColorSemanticColorsBorderDecorativeFuchsia: #a800c2;
  --FloTestColorSemanticColorsBorderDecorativePurple: #722adc;
  --FloTestColorSemanticColorsBorderDecorativeGrey: #53647e;
  --FloTestColorSemanticColorsBorderDecorativeLightGrey: #636363;
  --FloTestColorSemanticColorsBorderDecorativeLightGreyFaded: #9e9e9e4d;
  --FloTestColorDeprecatedBaseColorsOrangeOrange400: #ff9250;
}