/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-foreground-neutral-faded: #606981;
  --color-foreground-placeholder: #7f8694;
  --color-background-neutral-highlighted: #182d6614;
  --color-background-page-faded: #fafafa;
  --color-background-critical: #e22c2c;
  --color-background-positive: #118850;
  --color-background-blur: #fffffff2;
  --color-background-blur-neutral: #f4f5f7f2;
  --color-background-blur-neutral-highlighted: #ecedf0f2;
  --color-border-neutral-faded: #eceef3;
  --color-border-critical-faded: #fbd5d8;
  --color-border-positive-faded: #cdedd5;
  --color-border-upgrade-faded: #e3dbfa;
  --color-border-disabled: #dfe2ea;
  --color-border-focus: #4589ff;
  --color-decorative-cyan-foreground: #0e7490;
  --color-decorative-cyan-background: #d5fbfe;
  --color-decorative-cyan-border: #baf0f4;
  --color-decorative-fuchsia-foreground: #b725cb;
  --color-decorative-fuchsia-background: #fcf0ff;
  --color-decorative-fuchsia-border: #f5dcfa;
  --color-decorative-green-border: #bef9e0;
  --color-decorative-grey-foreground: #4e536a;
  --color-decorative-grey-background: #edeff3;
  --color-decorative-grey-border: #e1e4eb;
  --color-decorative-light-grey-foreground: #68718d;
  --color-decorative-light-grey-background: #f6f7f9;
  --color-decorative-light-grey-border: #edeff3;
  --color-decorative-orange-foreground: #c2410c;
  --color-decorative-orange-background: #fff2e1;
  --color-decorative-orange-border: #fbe7cc;
  --color-decorative-pink-foreground: #d12372;
  --color-decorative-pink-background: #fdf0f7;
  --color-decorative-purple-border: #ebe4ff;
  --color-decorative-pink-border: #ffe4f3;
  --color-decorative-red-border: #ffe9ea;
  --color-decorative-teal-foreground: #107a71;
  --color-decorative-teal-background: #e2fff8;
  --color-decorative-teal-border: #ccf8ee;
  --color-decorative-yellow-foreground: #a16207;
  --color-decorative-yellow-background: #fffde7;
  --color-decorative-yellow-border: #fef9c3;
  --color-primary-primary-200: #edf5ff;
  --color-primary-primary-400: #d0e2ff;
  --color-primary-primary-500: #8cb4ff;
  --color-primary-primary-600: #0f62fe;
  --color-primary-primary-700: #004ee1;
  --color-primary-primary-800: #104fc6;
  --color-red-red-100: #fef1f2;
  --color-red-red-600: #cb101d;
  --color-white: #ffffff;
  --color-neutral-neutral-100-opaque: #141a2b05;
  --color-neutral-neutral-200-opaque: #182d660a;
  --color-neutral-neutral-400: #606981;
  --color-neutral-neutral-500: #c7cddb;
  --color-neutral-neutral-900: #14171f;
  --color-green-green-100: #ebfef6;
  --color-green-green-600: #05751f;
  --color-purple-purple-100: #f5f2fd;
  --color-purple-purple-600: #874ce6;
  --color-purple-purple-700: #6a2bbf;
  --color-orange-orange-100: #fef8eb;
  --color-orange-orange-200: #fbe5c5;
  --color-orange-orange-500: #cc4d00;
  --color-orange-orange-600: #b53c0a;
  --color-neutral-black: #000000;
  --color-neutral-900: #212529;
  --color-blue-900: #001733;
  --color-blue-800: #002f66;
  --color-blue-700: #004899;
  --color-blue-600: #0061cc;
  --color-blue-500: #007aff;
  --color-blue-400: #3b98ff;
  --color-blue-300: #75b6ff;
  --color-blue-200: #b0d5ff;
  --color-blue-100: #ebf4ff;
  --color-purple-900: #020a33;
  --color-purple-800: #0c1a66;
  --color-purple-700: #1d2f99;
  --color-purple-600: #354acb;
  --color-purple-500: #556aeb;
  --color-purple-400: #6e82fe;
  --color-purple-300: #8fa0ff;
  --color-purple-200: #b9c4ff;
  --color-purple-100: #ebefff;
  --color-orange-900: #332200;
  --color-orange-800: #664200;
  --color-orange-700: #996000;
  --color-orange-600: #cc7c00;
  --color-orange-500: #ff9500;
  --color-orange-400: #ffb23b;
  --color-orange-300: #ffcc75;
  --color-orange-200: #ffe3b0;
  --color-orange-100: #fff8eb;
  --color-neutral-800: #343a40;
  --color-neutral-700: #495057;
  --color-neutral-600: #6c757d;
  --color-neutral-500: #adb5bd;
  --color-neutral-400: #ced4da;
  --color-neutral-300: #dee2e6;
  --color-neutral-200: #e9ecef;
  --color-neutral-100: #f8f9fa;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-foreground-neutral: var(--color-neutral-neutral-900);
  --color-foreground-primary: var(--color-primary-primary-800);
  --color-foreground-critical: var(--color-red-red-600);
  --color-foreground-warning: var(--color-orange-orange-600);
  --color-foreground-positive: var(--color-green-green-600);
  --color-foreground-upgrade: var(--color-purple-purple-600);
  --color-foreground-disabled: var(--color-neutral-neutral-500);
  --color-background-elevation-base: var(--color-white);
  --color-background-elevation-raised: var(--color-white);
  --color-background-elevation-overlay: var(--color-white);
  --color-background-neutral: var(--color-neutral-neutral-200-opaque);
  --color-background-neutral-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-page: var(--color-white);
  --color-background-primary: var(--color-primary-primary-800);
  --color-background-primary-highlighted: var(--color-primary-primary-700);
  --color-background-primary-faded: var(--color-primary-primary-200);
  --color-background-critical-highlighted: var(--color-red-red-600);
  --color-background-critical-faded: var(--color-red-red-100);
  --color-background-warning: var(--color-orange-orange-500);
  --color-background-warning-highlighted: var(--color-orange-orange-600);
  --color-background-warning-faded: var(--color-orange-orange-100);
  --color-background-positive-highlighted: var(--color-green-green-600);
  --color-background-positive-faded: var(--color-green-green-100);
  --color-background-upgrade: var(--color-purple-purple-600);
  --color-background-upgrade-highlighted: var(--color-purple-purple-700);
  --color-background-upgrade-faded: var(--color-purple-purple-100);
  --color-background-disabled: var(--color-neutral-neutral-200-opaque);
  --color-background-disabled-faded: var(--color-neutral-neutral-100-opaque);
  --color-background-focus-highlight: var(--color-primary-primary-400);
  --color-border-neutral: var(--color-neutral-neutral-500);
  --color-border-primary: var(--color-primary-primary-700);
  --color-border-primary-faded: var(--color-primary-primary-400);
  --color-border-critical: var(--color-red-red-600);
  --color-border-warning: var(--color-orange-orange-600);
  --color-border-warning-faded: var(--color-orange-orange-200);
  --color-border-positive: var(--color-green-green-600);
  --color-border-upgrade: var(--color-purple-purple-700);
  --color-border-focus-faded: var(--color-primary-primary-400);
  --color-on-background-neutral: var(--color-neutral-neutral-900);
  --color-persistent-black: var(--color-neutral-neutral-900);
  --color-decorative-blue-foreground: var(--color-primary-primary-600);
  --color-decorative-blue-background: var(--color-primary-primary-200);
  --color-decorative-blue-border: var(--color-primary-primary-400);
  --color-decorative-green-foreground: var(--color-green-green-600);
  --color-decorative-green-background: var(--color-green-green-100);
  --color-on-background-primary: var(--color-white);
  --color-on-background-critical: var(--color-white);
  --color-on-background-warning: var(--color-white);
  --color-on-background-positive: var(--color-white);
  --color-on-background-upgrade: var(--color-white);
  --color-persistent-white: var(--color-white);
  --color-decorative-purple-foreground: var(--color-purple-purple-600);
  --color-decorative-purple-background: var(--color-purple-purple-100);
  --color-decorative-red-foreground: var(--color-red-red-600);
  --color-decorative-red-background: var(--color-red-red-100);
}